<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h2>Restaurent Records App</h2>
        <div class="d-flex">
            <button (click)="clickAddRestau()" type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Add
                Restaurent</button>&nbsp;
                <button routerLink="/login" class="btn btn-danger">Log Out</button>
        </div>
    </div>
</nav>
<!--Jumbotron Start-->
<div class="p-5 mb-4 bg-light rounded">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Restaurent Records Management</h1>
        <p class="col-md-8 fs-4">You can save Records of Restaurent</p>
        <a class="btn btn-primary btn-lg" target="_blank" type="button" href="facebook.com">Boss</a>
    </div>
</div>
<!--Jumbotron Close-->
<!--Table Start-->
<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">Restaurent ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">Address</th>
            <th scope="col">Services</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of allRestaurentData">
            <td>{{data.id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.mobile}}</td>
            <td>{{data.address}}</td>
            <td>{{data.services}}</td>
            <td>
                <button class="btn btn-info" data-toggle="modal" data-target="#exampleModal" (click)="onEditRestau(data)">Edit</button>&nbsp;
                <button class="btn btn-danger" (click)="deleteRestau(data)">Delete</button>&nbsp;
            </td>
        </tr>
    </tbody>
</table>

<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Restaurent Reords Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--Form-->
                <form [formGroup]="formValue">
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" formControlName="email" class="form-control" id="formGroupExampleInput"
                            placeholder="Enter Email ID">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email Id</label>
                        <input type="text" formControlName="name" class="form-control" id="formGroupExampleInput2"
                            placeholder="Enter Name">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mobile</label>
                        <input type="text" formControlName="mobile" class="form-control" id="formGroupExampleInput"
                            placeholder="Enter Mobile">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Address</label>
                        <input type="text" formControlName="address" class="form-control" id="formGroupExampleInput"
                            placeholder="Enter Address">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Services</label>
                        <input type="text" formControlName="services" class="form-control" id="formGroupExampleInput"
                            placeholder="Enter Services">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="clear" data-dismiss="modal">Clear</button>
                <button *ngIf="showAdd" type="button" class="btn btn-primary" (click)="addRestau()">Add Details</button>
                <button *ngIf="showbtn" type="button" class="btn btn-primary" (click)="updateRestau()">Update Details</button>
            </div>
        </div>
    </div>
</div>